/* Reset CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Tahoma, Geneva, sans-serif;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

#main {

}

.clear {
    clear: both;
}

.header_content {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}

.header_logo {

}

.logo {

}

.logo-img {
    width: 348px;
    height: 146px;
}

.header_search {
    margin: 0px 200px;
    margin-top: 48px;
    margin-left: 40px;
    margin-right: 60px;
}

.search {

}

.search_form {

}

.search_input {
    width: 444px;
    height: 32px;
    border: 2px solid #41B76F;
    border-radius: 5px;
}

input[placeholder] {
    padding: 0 15px;
}

.search_submit {
    border: 2px solid #41B76F;
    height: 32px;
    width: 34px;
    border-radius: 5px;
}

.ti-search:before {
    font-weight: 700;
    color: #01A1DD;
    content: "\e610";
}

.header_contact {
    text-align: center;
    padding-top: 2.6%;
    font-size: 20px;
}

p {
    margin: 0 0 10px;
}

.header_contact p {
    text-transform: uppercase;
    font-weight: 700;
    color: #333333;
    cursor: default;
}

.header_contact a {
    text-decoration: none;
    color: #14BC2C;
}

#nav {
    /* height: 50px; */
    background-color: #41B76F;
}
.menu{
    display: flex;
    align-items: center;
    justify-content: center;
}

#nav-menu {
    display: inline-block;
}

.nav-menu, .subnav {
    list-style-type: none;
}

#nav-menu > li {
    display: inline-block;
}

#nav-menu li {
    position: relative;
}

#nav-menu > li > a {
    color: #fff;
}

#nav-menu li a {
    text-decoration: none;
    line-height: 50px;
    padding: 0 24px;
    display: block;
}

#nav-menu li:hover .subnav {
    display: block;
}

#nav-menu > li:hover > a {
    background-color: #7ACD9A;
}

#nav-menu .subnav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 210px;
    font-size: 11.6px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav-menu .nav-arrow-down {
    font-size: 10px;
}

#nav-menu .subnav a {
    color: #000;
    border-bottom: 1px solid #41B76F;
}

/* Main home */
.main_home {
    width: 100%;
}

.main_content {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px 15px 0 15px;
    background: #fff none repeat scroll 0 0;
    box-shadow: 0 0 5px #a1a1a1;
}

.main_row {
    display: flex;
}

.main_left {
    width: 75%;
}

.title_h1 {
    background: #0f9ed8;
    padding: 8px 10px;
    font-size: 16px;
    color: white;
    font-weight: 500;
}

.comtent_entry {

}

.product_type {

}

.main_details {
    display: flex;
}

.main_img {

}

.main_img_icon {

}

.main_img_product {

}

.img_product {

}

.post_img {
    width: 70%;
    cursor: default;
    padding: 20px;
}

.summary_text {
    margin-top: 20px;
    margin-left: -160px;
    width: 50%;
}

.text_price{

}
.price{
    color: #DB1C5D;
    font-weight: 500;
}
.woocommer_price{
    margin-left: -4px;
}

.product_meta{
    font-size: 14px;
}

.posted_in {
    font-weight: bold;
}

.posted_in a{
    text-decoration: none;
    color: #999;
    font-weight: 500;
    font-size: 12;
}

.product_list a {
    text-decoration: none;
    color: #337ab7;
}

.desc_text {

}

.desc_woocommer {
    margin: auto;
    padding: 10px 0;
    width: 98%;
    background: #f3f3f3;
    list-style: none;
    border-bottom: 2px solid #3bb2ca;
    border-left: 2px solid #3bb2ca;
    border-right: 2px solid #3bb2ca;
}

.desc_tabs {

}

.text_tabs {
    background: #fff;
    color: #333;
    text-decoration: none;
    padding: 9.2px 14px;
    border: 1px solid #d3ced2;
    border-bottom: 1.6px solid #58bb2c;  
}

.text_line {
    padding: 20px;
}

.text_line p {
    color: #333;
    line-height: 1.4;
    font-size: 14px;
}

.title_h2 {
    font-size: 32px;
    color: #111;
    font-weight: 500;
}

.list_product {
    margin-left: 8px;
}

.title_product {
    font-size: 30px;
    font-weight: 500;
    color: #333;
}

.product_colum_4 {
    margin-top: 14px;
    display: flex;
    list-style: none;
    text-align: center;
}

.row_left_product {
    box-shadow: 0 1px 3px #ccc;
}

.product {
    padding-bottom: 10px;
}

.product_1 {
    margin-right: 24px;
    width: 22%;
    border: 1px solid #ebebeb;
    padding-bottom: 18px;
}

.product_link {
    text-decoration: none;
}

.product_image {
    margin-bottom: 10px;
    width: 100%;
    padding: 8px;
}

.product_title {
    font-size: 16px;
    margin-bottom: 10px;
    color: #222;
}

.price_span {

}

.price_del {
    color: #666;
}

.price_sale {
    margin-left: -5px;
}

.price_del_sale {
    color: #01a1dd;
    margin-left: 10px;
}

.btn_link {
    margin-top: 16px;
}

.btn_link_dm {

}

.btn_list_link {
    color: #fff;
    font-weight: 600;
    border-radius: 5px;
    background: #41b76f;
    padding: 8px 10px;
    text-decoration: none;
}

/* Main_right */
.main_right {
    margin-right: 15px;
    margin-left: 34px;
    width: 25%;
}

.img_tab {
    margin-bottom: 15px;
}

.img_tab img {
    width: 100%;
    height: auto;
}

.tab_text_1 {
    padding: 7px;
    margin: 0px;
    background-color: #41b76f;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 500;
    border-bottom: 1px solid #eee;
}

.product_1 {
    width: 22.4%;
}

.product_text {
    padding: 6px 25px;
    background-color: #0f9ed8;
}

.title_link_a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    font-size: 20px;
}

.product_row {
    display: flex;
}

.product_1 {
    /* width: 100%; */
    margin-top: 30px;
}

.product_1 {
    text-align: center;
    box-shadow: 0 1px 3px #ccc;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 10px;
    padding-bottom: 18px;
}

.woocommer_link {
    text-decoration: none;
}

.title_1 {
    font-size: 14px;
    font-weight: 600;
    color: #222;
    text-align: center;
    margin-top: 10px;
    height: 32px;
    overflow: hidden;
    margin-bottom: 10px;
}

.product_price {
    margin-bottom: 10px;
}

.price_del {
    color: #666;
    margin-right: 6px;
}

.price_ins {
    color: #01a1dd;
    text-decoration: none;
}

.product_img img {
    padding: 5px;
}

.woocommer_price bdi {
    display: flex;
    color: red;
}

.btn_link {
    text-decoration: none;
    color: #333;
    background-color: #fff;
    padding: 4px;
    border-radius: 5px;
}

.btn_zalo {
    border-radius: 5px;
    padding-bottom: 6px;
    padding-top: 6px;
    border: 1px solid #ccc;
}